# Tugas 3

## Missing Value

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('class grade.csv',sep=';')
data=data.drop('Prefix',1)
data.tail()

    Assignment  Tutorial  Midterm  TakeHome  Final
94       96.73    103.71    45.00     93.52  61.94
95       85.34     80.54    41.25     93.70  39.72
96       89.94    102.77    87.50     90.74  87.78
97       95.60     76.13    66.25     99.81  85.56
98       63.40     97.37    73.12     72.78  77.22

In [3]:
np.sum(data.isnull())

Assignment    0
Tutorial      0
Midterm       0
TakeHome      1
Final         3
dtype: int64

In [4]:
data['TakeHome']=data['TakeHome'].fillna((data['TakeHome'].mean()))
data['Final']=data['Final'].fillna((data['Final'].mean()))
np.sum(data.isnull())

Assignment    0
Tutorial      0
Midterm       0
TakeHome      0
Final         0
dtype: int64

In [5]:
data.to_csv('D:\ITS\semester 6\Data Mining\class grade_1.csv')
data1=data
data1.head()
print(data1.shape)

(99, 5)

## Missing Value & Outlier

In [6]:
from scipy import stats
z=np.abs(stats.zscore(data._get_numeric_data()))
print(z)
data2=data[(z<3).all(axis=1)]
print(data2.shape)

[[2.26200143e+00 3.71058404e+00 1.90346571e-01 1.24531600e+00
  8.64096841e-01]
 [7.62594001e-01 1.05092584e+00 2.85037808e-02 7.74025713e-01
  4.58127768e-03]
 [1.42949606e-01 4.37546154e-01 1.97372963e+00 7.50133866e-01
  1.06010765e+00]
 [3.40812879e-01 4.22059762e-01 9.68436911e-01 1.06510964e+00
  6.59466438e-01]
 [4.65001256e-01 2.60675253e-01 1.39799518e+00 1.12790909e+00
  2.97307954e-01]
 [7.58604822e-01 1.89986171e-01 1.30047452e+00 7.19288357e-01
  1.92413662e-02]
 [7.62594001e-01 8.84206309e-01 6.12071536e-01 7.74025713e-01
  9.99838401e-01]
 [1.00860142e+00 1.92135000e-01 4.17548951e-01 1.20599167e-15
  6.68086027e-01]
 [9.82708027e-02 2.24663834e-01 1.06595757e+00 2.64387668e+00
  9.54772203e-01]
 [3.67665291e-01 5.21424604e-01 8.71434982e-01 3.42067347e-01
  2.60861344e-01]
 [4.03044070e-01 3.12691748e-02 3.60541389e-01 4.51966381e-01
  1.55800770e+00]
 [6.12963527e-02 6.08933834e-01 3.28380322e-01 2.86905670e-01
  4.93318767e-01]
 [9.30937350e-01 9.32221535e-01 2.30859666e-01 5.38527783e-01
  2.76064399e-01]
 [4.61809913e-01 4.13538541e-01 6.84745697e-01 8.05425437e-01
  1.29256508e+00]
 [5.51876707e-02 4.34211763e-02 1.22780036e+00 2.71219230e+00
  1.76922157e+00]
 [6.65258036e-01 3.80046439e-01 1.04111107e+00 4.30815299e-03
  1.17202657e+00]
 [5.51876707e-02 4.34211763e-02 1.06595757e+00 2.71219230e+00
  8.19030642e-01]
 [5.20051925e-01 8.52863037e-01 1.51984360e+00 2.24106221e-01
  1.04490460e+00]
 [2.42156859e+00 5.25574068e-01 3.60541389e-01 1.04885557e+00
  3.21130597e-01]
 [6.02229010e-01 4.53551229e-01 5.87743768e-01 1.06145096e-01
  1.23229582e+00]
 [1.76255623e+00 2.34815201e-01 2.55706160e-01 3.41513132e-01
  7.71601440e-16]
 [8.15525166e-01 5.19423969e-01 2.55706160e-01 8.36695267e-01
  1.25119784e-01]
 [1.73223847e+00 9.01693336e-01 1.48716380e+00 1.63823687e+00
  1.84469388e+00]
 [4.03044070e-01 3.12691748e-02 1.13079843e+00 4.51966381e-01
  2.06632591e-01]
 [2.56358335e+00 5.14904017e-01 3.28380322e-01 9.23386563e-01
  6.52882972e-01]
 [4.61809913e-01 3.67375755e-01 7.49586559e-01 7.11226265e-01
  1.32297119e+00]
 [2.42679078e-01 2.05472563e-01 1.30047452e+00 2.00768589e-01
  1.12696037e+00]
 [8.15525166e-01 2.04138807e-01 6.90168751e-02 8.36695267e-01
  1.11175732e+00]
 [4.65001256e-01 3.44035020e-01 4.25382251e-01 1.12790909e+00
  9.30949559e-01]
 [4.88936329e-01 1.63725992e+00 1.98698598e-01 3.89166933e-01
  1.24091541e+00]
 [1.04423003e+00 8.48861768e-01 2.85037808e-02 7.11226265e-01
  2.76064399e-01]
 [6.12963527e-02 7.74319612e-02 1.01177943e-01 2.86905670e-01
  7.28355280e-01]
 [1.45219812e+00 3.94050880e-01 1.03379650e+00 3.65275086e-01
  1.36199689e+00]
 [1.04423003e+00 8.66200599e-02 1.72219948e+00 9.94248102e-01
  2.13742055e+00]
 [5.72185254e-03 3.96051514e-01 6.12071536e-01 9.62848378e-01
  2.00592091e-01]
 [2.07300300e-01 1.75663110e+00 3.28380322e-01 5.46165554e-01
  9.54772203e-01]
 [7.62594001e-01 1.29981958e+00 8.06594121e-01 1.20585419e+00
  1.12037691e+00]
 [3.50910740e-01 2.11807905e+00 1.84404791e+00 1.85068727e-01
  9.09163039e-01]
 [4.18726781e-01 6.07600078e-03 3.52708089e-01 3.89166933e-01
  7.71601440e-16]
 [7.58604822e-01 3.08690479e-01 1.10647066e+00 8.52949344e-01
  9.00543450e-01]
 [4.57572518e+00 2.08206763e+00 2.30859666e-01 1.15111683e+00
  4.58127768e-03]
 [7.69774523e-01 4.70890061e-01 2.17608552e+00 3.81104842e-01
  1.21709277e+00]
 [5.20051925e-01 1.52374244e+00 9.44109144e-01 2.24106221e-01
  8.09868087e-01]
 [6.12963527e-02 1.00505945e+00 8.79268282e-01 7.11096371e-01
  7.49598834e-01]
 [2.26200143e+00 3.71058404e+00 6.06648482e-02 1.24531600e+00
  6.83289082e-01]
 [6.65258036e-01 2.16142613e+00 2.07125029e+00 1.21715064e-01
  1.24091541e+00]
 [1.31975738e+00 1.64192806e+00 1.22780036e+00 9.93693888e-01
  1.70185982e-01]
 [3.84331194e-02 5.82777392e-01 1.20347259e+00 1.06145096e-01
  2.06632591e-01]
 [8.30410042e-01 6.84142869e-01 1.43015624e+00 1.04940978e+00
  1.83553132e+00]
 [5.55954535e-01 4.01386539e-01 3.20028295e-01 1.06145096e-01
  1.06010765e+00]
 [8.96630411e-01 1.08108355e-01 1.98698598e-01 7.03588494e-01
  1.54982927e-01]
 [1.42949606e-01 4.37546154e-01 3.85387883e-01 7.50133866e-01
  5.77410664e-01]
 [7.69774523e-01 2.85349744e-01 1.62519755e+00 8.13487529e-01
  1.44350969e+00]
 [1.04423003e+00 9.54376708e-02 1.17079280e+00 8.52949344e-01
  1.66992662e+00]
 [1.09317202e+00 8.76203771e-01 7.09592192e-01 2.51615618e+00
  1.75401851e+00]
 [1.09317202e+00 7.96845273e-01 3.60541389e-01 2.51615618e+00
  1.03024451e+00]
 [1.94534928e-01 1.12028117e+00 1.58468446e+00 7.03588494e-01
  2.19110634e+00]
 [1.94534928e-01 1.28299943e+00 2.03857049e+00 3.02605532e-01
  1.12037691e+00]
 [1.31975738e+00 1.64192806e+00 1.45500274e+00 9.93693888e-01
  5.68791075e-01]
 [1.00860142e+00 1.92135000e-01 1.39016188e+00 8.68094991e-01
  1.18064616e+00]
 [1.09317202e+00 8.76203771e-01 1.35748208e+00 2.37867631e+00
  7.71601440e-16]
 [5.20849760e-01 5.35429044e-01 1.13079843e+00 1.42607657e+00
  4.26466049e-01]
 [3.86015514e-01 1.44786653e-01 3.63370809e-02 1.21715064e-01
  5.47547521e-01]
 [7.58604822e-01 3.08690479e-01 1.17079280e+00 8.52949344e-01
  1.77526207e+00]
 [4.61809913e-01 1.26566060e+00 1.46283604e+00 8.05425437e-01
  1.11175732e+00]
 [9.18171977e-01 8.86206943e-01 1.30047452e+00 1.08844727e+00
  1.41310358e+00]
 [5.99835502e-01 9.63564807e-01 6.76912397e-01 6.79826541e-01
  6.48505307e-02]
 [5.20849760e-01 7.23488678e-01 7.09592192e-01 7.18734142e-01
  2.45658290e-01]
 [1.22374308e+00 1.05626087e+00 1.72219948e+00 1.00188587e+00
  2.19768980e+00]
 [3.95863548e-01 2.04657490e-01 8.71434982e-01 3.41513132e-01
  9.47136740e-02]
 [4.37874840e-01 5.21424604e-01 9.44109144e-01 3.42067347e-01
  1.17202657e+00]
 [6.46109977e-01 9.40224072e-01 1.26831345e+00 6.79826541e-01
  1.02108196e+00]
 [9.44500558e-01 7.12818628e-01 6.90168751e-02 9.23386563e-01
  7.95207999e-01]
 [9.82708027e-02 1.05292648e-01 2.55706160e-01 1.06145096e-01
  3.87983316e-01]
 [9.82708027e-02 4.62072450e-01 8.06594121e-01 1.06145096e-01
  9.99838401e-01]
 [6.65258036e-01 8.30856058e-01 1.98156293e+00 5.77565278e-01
  1.86593743e+00]
 [8.15525166e-01 2.04138807e-01 1.01177943e-01 3.80974948e-01
  6.29060328e-01]
 [5.20849760e-01 7.23488678e-01 2.63020733e-01 7.18734142e-01
  1.70185982e-01]
 [9.30937350e-01 9.32221535e-01 8.14427421e-01 6.40789046e-01
  5.68791075e-01]
 [1.54155572e+00 2.63342766e-01 1.98698598e-01 1.63823687e+00
  3.81399850e-01]
 [3.40812879e-01 1.47972848e-01 5.87743768e-01 1.06510964e+00
  1.17202657e+00]
 [8.93713073e-01 1.60258225e+00 5.55063974e-01 9.62848378e-01
  7.28355280e-01]
 [9.44500558e-01 1.13428561e+00 4.58062045e-01 1.19070854e+00
  8.40274197e-01]
 [1.09166499e-01 1.80664696e+00 1.26831345e+00 1.85068727e-01
  3.05927543e-01]
 [8.06474969e-01 1.88933985e+00 1.90346571e-01 8.05425437e-01
  1.39186003e+00]
 [1.94534928e-01 6.49465206e-01 7.74433053e-01 3.02605532e-01
  3.96602905e-01]
 [1.03704951e+00 3.80046439e-01 1.32532101e+00 2.37867631e+00
  1.57321075e+00]
 [8.88926058e-01 2.13326905e-01 9.44109144e-01 9.03153398e-02
  2.97307954e-01]
 [6.36898601e-02 6.14268860e-02 7.81747626e-01 1.21715064e-01
  4.02643405e-01]
 [9.18171977e-01 7.19487410e-01 1.90346571e-01 4.20566657e-01
  5.32344466e-01]
 [9.44500558e-01 1.13428561e+00 6.84745697e-01 1.19070854e+00
  1.46363338e-01]
 [8.71099667e-01 9.32221535e-01 6.12071536e-01 6.40789046e-01
  1.09916729e-01]
 [8.06474969e-01 4.96898308e-01 4.58062045e-01 1.16694658e+00
  5.38384965e-01]
 [1.61823661e-01 1.23298357e-01 6.12071536e-01 3.80974948e-01
  9.00543450e-01]
 [8.96630411e-01 9.32221535e-01 1.19563929e+00 5.38527783e-01
  3.51536707e-01]
 [1.21045388e-02 6.12935103e-01 1.39016188e+00 5.46165554e-01
  1.55800770e+00]
 [3.54899919e-01 8.69534990e-01 1.00895001e+00 4.20566657e-01
  1.05148807e+00]
 [8.06474969e-01 9.07028361e-01 9.33446424e-02 8.05425437e-01
  9.30949559e-01]
 [1.76255623e+00 5.09420797e-01 2.63020733e-01 3.41513132e-01
  4.78115713e-01]]
(96, 5)

In [29]:
data2.to_csv('D:\ITS\semester 6\Data Mining\class grade_2.csv')

## Missing Value, Transformation

In [7]:
x=data.iloc[0:99,0:5]
x.head()

   Assignment  Tutorial  Midterm  TakeHome  Final
0       57.14     34.09    64.38     51.48  52.50
1       95.05    105.49    67.50     99.07  68.33
2       83.70     83.17    30.00     63.15  48.89
3       81.22     96.06    49.38    105.93  80.56
4       91.32     93.64    95.00    107.41  73.89

In [8]:
from sklearn.preprocessing import normalize
xnorm=normalize(x,norm='l2') 
xnorm=pd.DataFrame(xnorm) 
xnorm.tail()

           0         1         2         3         4
94  0.519124  0.556584  0.241503  0.501897  0.332416
95  0.531010  0.501143  0.256669  0.583028  0.247149
96  0.437582  0.500003  0.425710  0.441474  0.427073
97  0.499663  0.397901  0.346262  0.521667  0.447188
98  0.365390  0.561167  0.421409  0.419449  0.445038

In [9]:
xnorm.to_csv('D:\ITS\semester 6\Data Mining\class grade_3.csv')
print(xnorm.shape)

(99, 5)

## Missing Value, Outlier, Transformation

In [34]:
print(data2.shape)

(96, 5)

In [10]:
y=data2.iloc[0:98,0:5]
y.tail()

    Assignment  Tutorial  Midterm  TakeHome  Final
94       96.73    103.71    45.00     93.52  61.94
95       85.34     80.54    41.25     93.70  39.72
96       89.94    102.77    87.50     90.74  87.78
97       95.60     76.13    66.25     99.81  85.56
98       63.40     97.37    73.12     72.78  77.22

In [11]:
from sklearn.preprocessing import normalize
ynorm=normalize(y,norm='l2') 
ynorm=pd.DataFrame(ynorm) 
ynorm.tail()

           0         1         2         3         4
91  0.519124  0.556584  0.241503  0.501897  0.332416
92  0.531010  0.501143  0.256669  0.583028  0.247149
93  0.437582  0.500003  0.425710  0.441474  0.427073
94  0.499663  0.397901  0.346262  0.521667  0.447188
95  0.365390  0.561167  0.421409  0.419449  0.445038

In [12]:
ynorm.to_csv('D:\ITS\semester 6\Data Mining\class grade_4.csv')
print(ynorm.shape)

(96, 5)